
.media-container {
   display: flex;
    justify-content: center;

  .center {
    width: 800px;
  }
  .card {
    height: 400px;
    width: 400px;
    padding-top:50px;

    .media-title{
      position: relative;
      top: 214px;
      left: 0px;
      z-index: 2;
      color:ghostwhite;
    }
    .petalImg {
      width: 400px;
      height: 400px;
      border-radius: 15px;
    }

    .container {
      border-radius: 15px;
      background: darkslateblue;
      margin-top: -51px;
      width: 400px;
      height: 130px;
      color: white;

      .controls{
        background-color: #331E8B;
        color:#f5f5f5;
        border-radius:2px 2px 15px 15px;
        height: 44%;
      }

    }
  }
}