.primary{
  font-family:"calling-code" !important;
  background-color:transparent;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  width: 180px;
  height: 50px;
  opacity: 50%;
  border-radius:5px;
  opacity: 0.5;
  filter: alpha(opacity=90);
}