body {

  background: rgb(5, 5, 83);
  background: linear-gradient(90deg,
          rgba(5, 5, 83, 1) 0%,
          rgb(159, 8, 119) 40%,
          rgb(159, 10, 71) 55%,
          rgb(246, 35, 120) 100%);

  .grid-container {
    display: grid;
    grid-template-columns: 25% auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
    //background-color: #2196F3;
    padding: 10px;
  }

  .grid-container > div {
    text-align: center;
  }

  .item1 {
    font-family: 'Raleway', sans-serif;

    grid-row-start: 1;
    grid-row-end: 2;
    border: 1px solid aqua;
    color: #FFFFFF;
    font-size: 60pt;

  }

  .item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    //grid-column-end: 3;
    border: 1px solid aqua;
    //width: 1500px;
    //height: 100px;
    background: rgb(4, 2, 83);
    opacity: 50%;

  }

  .item3, .item6, .item1, .item7, item8{
    background-color: rgb(12, 1, 83);
    border: 1px solid aqua;
    color: #FFFFFF;
    font-size: 30pt;
    padding: 0px 10px 12px 12px;

    .ticker{
      float: right;
      //font-weight: bold;
      font-family:"calling-code" !important;

      font-size: 12pt;
      .fa-caret-up{
        color:palegreen;
        padding-right: 5px;
      }
    }


    .divTitle {
      //background-color: red;
      padding: 15px 12px 30px 4px;


      .titleName {
        //background-color: peachpuff;
        font-family:"calling-code" !important;
        float: left;
        font-size: 12pt;


      }

    }


    .fiscalPeriod {
      //background-color: darkorange;
      font-family: "courier-std";
      opacity: 0.5;
      filter: alpha(opacity=90);
      font-size: 10pt;
      float: right;
    }
    .numbers {
      //background-color: aqua;
      width: 55%;
      float: left;
    }

  }
  .fa-heart{
    color:  rgb(246, 35, 120);
    font-size: 8pt;
    padding-right: 5px;
  }

  .fa-search{
    color:   rgb(12, 1, 83);
    font-size: 8pt;
    padding: 2px;
    border-radius: 2px;
    margin-right: 4px;

    background-color: dodgerblue;

  }

  .item4 {
    border: 1px solid aqua;
    color: #FFFFFF;
    font-size: 60pt;
  }

  //@import url('https://fonts.googleapis.com/css?family=Raleway:400|Nunito:300');

  body {
    font-family: 'Raleway', sans-serif;
  }

  .numeral {
    font-family: 'Nunito', 'Raleway', sans-serif;
  }

}