
body {
  background: rgb(5, 5, 83);
  background: linear-gradient(90deg, rgba(5, 5, 83, 1) 0%, rgb(159, 8, 119) 40%, rgb(159, 10, 71) 55%, rgb(246, 11, 91) 100%);

  //background: linear-gradient(90deg, rgba(5, 5, 83, 1) 0%, rgb(159, 8, 119) 40%, rgb(159, 10, 71) 55%,   #ff2e56 100%);
  #container {
    width: 100%;
    height: 900px;
  //  overflow: hidden; /* will contain if #first is longer than #second */
  }
  .artistContent {
    width: 500px;
    height: 800px;
    //display: inline-block;
    //margin-left: auto;
    border: 1px solid red;
  }
  .MusicPlayer {
    width: 500px;
    height: 800px;
    float: right;
    border: 1px solid green;
    overflow: hidden; /* if you don't want #second to wrap below #first */
  }




  .musicPlayer, .artistContent {
    //background: #ccc;
    padding: 20px;
    float:left;
  }
.musicPlayer2{
  float:right;
  padding: 20px;

}

}